html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

#seta {
    
    width: 30px;
    height: 30px;
    margin-right: 190px;
    margin-bottom: 80px;
    
}

header{
    text-align: center;
}

header h2{
    color:rgb(148, 13, 13);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    position: relative;
    bottom: 40px;
}

header p{
    color:rgb(112, 109, 109);
    position: relative;
    bottom: 20px;
}

.big_perfil {
    width: 100px;
    height: 100px;
    margin-right: 230px;
}

.login_icon {
    width: 20px;
    height: 20px;
}

section {
    text-align: center;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    
}

section span{
    color:rgb(109, 106, 106);
    font-size: small;
}
section a{
    color: rgb(109, 106, 106);
    font-size: small;
}

form {
    justify-content: center;
}

.caixa {
    width: 200px;
    height: 20px;
    border-radius: 20px;
    border: solid 2px #dddddd;
    box-shadow: 1px 1px 5px rgba(131, 127, 127, 0.4);
    padding: 1px;
}

.email {
    background-image :url(/img/profile_small.png);
    background-position-x: left;
    background-size: 1.7em;
    background-repeat: no-repeat;
    padding-left:30px;
}

.pass {
    background-image :url(/img/pass_small.png);
    background-position-x: left;
    background-size: 1.7em;
    background-repeat: no-repeat;
    padding-left:30px;
}

.lembrar_pass {
    display: block;
    position:relative;
    right: 100px;
    top: 40px;
    
}

.esqueceu_pass {
    display: block;
    position: relative;
    left: 90px;
    top: 20px;
}
.entrar  {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 200px;
    height: 30px;
    background-color: #5e2127;
    letter-spacing: 2px;
    font-size:medium;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    border-radius: 20px;
    border: 2px outset #360d11;
}

.cadastrar {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 150px;
    height: 30px;
    background-color: #f1f1f1;
    letter-spacing: 2px;
    font-size:medium;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(94, 27, 27);
    border: 2px outset rgb(187, 187, 184);
    border-radius: 20px;
}

