body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #900020; /* Cor vinho */
}

h2 {
    text-align: center;
    font-style: italic;
    margin-top: 10px;
    color: #900020; /* Cor vinho */
}

p {
    text-align: center;
    margin: 10px 20px;
}

article {
    background-color: #eceaea;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    transition: color 0.5s ease, text-shadow 0.5s ease; 
}
article:hover{
    color:#c53131;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); 

}

li {
    margin-top: 10px;
}

li b {
    font-weight: bold;
}

a {
    color: #5e2129; 
    text-decoration: none; 
    margin-right: 20px;
    text-align: center;
    transition: color 0.5s ease, text-shadow 0.5s ease; 
}

a:hover {
    color: #900020; 
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); 
}

header {
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
}

.linha {
    border-bottom: 3px solid #5e2129; 
    margin-top: 40px; 
    margin-bottom: 10px; 
}

.footer {
    background-color: #5e2129;
    color: white;
    padding: 20px;
    left: 0;
    bottom: 0;
    right: 0;
    position: relative;
}

.footer a {
    color: white;
    text-decoration: underline;
}

.transicao {
    transition: opacity 0.5s ease, transform 0.5s ease; 
}

.transicao:hover {
    opacity: 0.8; 
    transform: scale(1.02); 
}
