
        a {
        color: #5e2129; 
        text-decoration: none; 
        margin-right: 20px;
        text-align: center;
        transition: color 0.5s ease, text-shadow 0.5s ease; 
        }

        a:hover {
        color: #900020; 
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); 
        }
        header {
            text-align: center;
            font-size: 25px;
            margin-top: 14px;
        }
        
        .linha {
            border-bottom: 3px solid #5e2129; 
            margin-top: 35px;
            margin-bottom: 30px;
        }
        
        .banner {
            display: flex;
            flex-wrap: wrap;
            position: relative;
            height: 60vh; 
        }
        
        .banner img {
            max-width: 100%; 
            max-height: 100%; 
        }
        
        .container {
            display: flex;
            justify-content: space-around;
        }
        
        .product {
            width: 200px;
            text-align: center;
            padding: 20px; 
        }
        
        .product img {
            width: 100%;
        }
        
        .product h2 {
            font-size: 16px;
            color: #333131;
        }
        
        .product p {
            font-size: 14px;
            color: #695e5e;
        }
        
        .product button {
            background-color: #5e2129;
            color: #fff;
            border: none;
            padding: 10px 20px;
            text-transform: uppercase;
            cursor: pointer;
        }
        
        .main-content {
            margin-bottom: 200px; }
        
        .footer {
            background-color: #5e2129;
            color: white;
            text-align: center;
            position: relative;
            padding: 20px;
            left: 0;
            bottom: 0;
            right: 0;
        }
        
        .footer a {
            color: white;
            text-decoration: underline;
        }
        
        