
h2{
    color: #5E2129;
    text-align: center;
    margin: 20px;
    font: 26 30px Comfortaa; 
}
h1{
    color: #5E2129;
    text-align: center;
    margin: 20px;
    font: 26 40px Comic;
}
p{
    text-align: center;
    font: 14 18px Arial;
}
.container {
    width: 100%;
}
.aumenta {
    font: 26  18px Arial;
}
.texto {
    width: 100%;
    float: left;
}
.imagem {
    width: 30%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    color: #5e2129; 
    text-decoration: none; 
    margin-right: 20px;
    text-align: center;
    transition: color 0.5s ease, text-shadow 0.5s ease; 
}

a:hover {
    color: #900020; 
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); 
}
header{
    text-align: center;
    font-size: 25px;
    margin-top: 14px;
    
}
.linha {
    border-bottom: 3px solid #5e2129; 
    margin-top: 35px; 
    margin-bottom: 30px; 
}
.footer {
    background-color: #5e2129;
    color: white;
    text-align: center;
    margin-top: 350px;
    padding: 10px;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    
}
.footer a {
    color: white;
    text-decoration: underline;
}

.imagem1 {
    height: 350px;
    width: 150px;
    animation-name: aparecer;
    animation-duration: 5s;
    animation-iteration-count: initial;
}
@keyframes aparecer {
    0% {opacity: 0}
    100% {opacity: 1}
}
.imagem2 {
    height: 350px;
    width: 280px;
    animation-name: aparecer2;
    animation-duration: 5s;
    animation-iteration-count: initial;
    animation-delay: 2s;
}
@keyframes aparecer2 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.imagem3 {
    height: 350px;
    width: 120px;
    animation-name: aparecer3;
    animation-duration: 5s;
    animation-iteration-count: initial;
    animation-delay: 4s;
}
@keyframes aparecer3 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.imagem4 {
    height: 350px;
    width: 250px;
    animation-name: aparecer4;
    animation-duration: 5s;
    animation-iteration-count: initial;
    animation-delay: 6s;
}
@keyframes aparecer4 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.imagem5{
    height: 300px;
    width: 150px;
    animation-name: aparecer5;
    animation-duration: 5s;
    animation-iteration-count: initial;
    animation-delay: 8s;
}
@keyframes aparecer5 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}